@(project: mbuilder.MProject)(phoneGap: Boolean)(root: String)
 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD> 
    @if(phoneGap) {
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
	}

    <LINK rel="stylesheet" type="text/css" href="@Html(root)js/jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.css">
    @if(!phoneGap) {
    <LINK rel="stylesheet" type="text/css" href="@Html(root)css/phone.css">
    }
    @project.cssFiles.map { cssFile =>
       <LINK rel="stylesheet" type="text/css" href="@Html(root)@cssFile">
    }
    
	<SCRIPT type="text/javascript" src="@Html(root)js/jquery.mobile-1.3.1/jquery-1.9.1.min.js"></SCRIPT>
    <SCRIPT type="text/javascript" src="@Html(root)js/knockout-2.2.1/knockout-2.2.1.js"></SCRIPT> 
    <SCRIPT type="text/javascript" src="@Html(root)js/mbuilder/api.js"></SCRIPT> 
    @if(phoneGap) {
    <script type="text/javascript" src="cordova-2.7.0.js"></script>
    }
    @project.jsFiles.map { jsFile =>
       <SCRIPT type="text/javascript" src="@Html(root)@jsFile"></SCRIPT> 
    }
    
	<SCRIPT type="text/javascript">
		@Html( build.android.Utils.replaceTemplate( "resources/templates/appjs.tmp", project.getJavascriptCodes() ) )
	</SCRIPT>
	<SCRIPT type="text/javascript" src="@Html(root)js/jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.js"></SCRIPT>
</HEAD>
<BODY>
@Html( project.cleanedHtmlCodes )
</BODY>
</HTML>